<!-- Form handling -->
<form action="/api/users" method="post" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="" class="form-control">
            <input type="text" name="name" id="" value="" class="form-control" placeholder="karthik">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="hidden" name="id" value="" class="form-control">
            <input type="text" name="email" id="" value="" class="form-control" placeholder="email">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" name="gender" id="radio-2" value="Male" class="form-control">
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="gender" id="radio-3" value="Female" class="form-control">
                <label for="radio-3" class="radio-label">Female</label>
            </div>

        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" name="status" id="radio-4" value="Active" class="form-control">
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="status" id="radio-5" value="Inactive" class="form-control">
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
<!-- Form handling -->